<?xml version="1.0" encoding="UTF-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Module Id="Dependencies" Language="$(var.DEFAULT_LANGUAGE)" Version="$(var.OSSBUILD_VERSION)">

		<Package Id="$(var.GUID_X86_MSM_BINDINGS_PYTHON_PACKAGE)" Manufacturer="$(var.MANUFACTURER)" InstallerVersion="$(var.MINIMAL_INSTALLER_VERSION)" />

		<?define Files="
			lib$(var.PREFIX)_gst.pyd;
			lib$(var.PREFIX)audio.pyd;
			lib$(var.PREFIX)interfaces.pyd;
			lib$(var.PREFIX)pbutils.pyd;
			lib$(var.PREFIX)tag.pyd;
			lib$(var.PREFIX)video.pyd
		" ?>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">
						
				<?foreach file in $(var.Files) ?>
					<Component Id="$(ossbuild.createValidID($(var.file)))" Guid="$(ossbuild.stringToGUID($(ossbuild.trim($(var.file)))))">
						<File Source="$(var.GstPythonBinDir_v2_5)\$(ossbuild.trim($(var.file)))" />
					</Component>
				<?endforeach ?>
						
			</Directory>
		</Directory>

		<?undef Files ?>

	</Module>

</Wix>
