<?xml version="1.0" encoding="UTF-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:OSSBuild="$(ossbuild.namespaceURI())">

	<Module Id="Dependencies" Language="$(var.DEFAULT_LANGUAGE)" Version="$(var.OSSBUILD_VERSION)">

		<Package Id="$(var.GUID_X86_MSM_BINDINGS_DOTNET_PACKAGE)" Manufacturer="$(var.MANUFACTURER)" InstallerVersion="$(var.MINIMAL_INSTALLER_VERSION)" />

		<?define Files="
			*gstreamersharpglue-$(var.GST_VERSION).dll;
			*gstreamer-sharp.dll
		" ?>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">
				<OSSBuild:FillDirectory Directory="$(var.GstBinDir)" FileFilter="$(var.Files)" />
			</Directory>
		</Directory>

		<?undef Files ?>

	</Module>

</Wix>
