<?xml version="1.0" encoding="UTF-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:OSSBuild="$(ossbuild.namespaceURI())">

	<Module Id="Dependencies" Language="$(var.DEFAULT_LANGUAGE)" Version="$(var.OSSBUILD_VERSION)">

		<Package Id="$(var.GUID_X86_MSM_BINDINGS_PYTHON_PACKAGE)" Manufacturer="$(var.MANUFACTURER)" InstallerVersion="$(var.MINIMAL_INSTALLER_VERSION)" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">
				<OSSBuild:FillDirectory Directory="$(var.GstPythonBinDir_v2_6)">
					<OSSBuild:Filter Include=".*\\[^\\]*.*_gst\.pyd" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*audio\.pyd" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*interfaces\.pyd" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*pbutils\.pyd" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*tag\.pyd" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*video\.pyd" />
				</OSSBuild:FillDirectory>
			</Directory>
		</Directory>

	</Module>

</Wix>
