<?xml version="1.0" encoding="utf-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

		<?define Files="
			lib$(var.PREFIX)glew32.dll;
			lib$(var.PREFIX)iconv.dll;
			lib$(var.PREFIX)bz2.dll;
			lib$(var.PREFIX)cairo-2.dll;
			lib$(var.PREFIX)fontconfig-1.dll;
			lib$(var.PREFIX)freetype-6.dll;
			lib$(var.PREFIX)gcrypt-11.dll;
			lib$(var.PREFIX)gio-2.0-0.dll;
			lib$(var.PREFIX)glib-2.0-0.dll;
			lib$(var.PREFIX)gmodule-2.0-0.dll;
			lib$(var.PREFIX)gnutls-26.dll;
			lib$(var.PREFIX)gnutls-extra-26.dll;
			lib$(var.PREFIX)gnutls-openssl-26.dll;
			lib$(var.PREFIX)gobject-2.0-0.dll;
			lib$(var.PREFIX)gpg-error-0.dll;
			lib$(var.PREFIX)gthread-2.0-0.dll;
			lib$(var.PREFIX)jpeg-7.dll;
			lib$(var.PREFIX)mms-0.dll;
			lib$(var.PREFIX)mp3lame-0.dll;
			lib$(var.PREFIX)neon-27.dll;
			lib$(var.PREFIX)ogg-0.dll;
			lib$(var.PREFIX)oil-0.3-0.dll;
			lib$(var.PREFIX)openjpeg-2.dll;
			lib$(var.PREFIX)pango-1.0-0.dll;
			lib$(var.PREFIX)pangocairo-1.0-0.dll;
			lib$(var.PREFIX)pangoft2-1.0-0.dll;
			lib$(var.PREFIX)pangowin32-1.0-0.dll;
			lib$(var.PREFIX)pixman-1-0.dll;
			lib$(var.PREFIX)png12-0.dll;
			lib$(var.PREFIX)schroedinger-1.0-0.dll;
			lib$(var.PREFIX)soup-2.4-1.dll;
			lib$(var.PREFIX)speex-1.dll;
			lib$(var.PREFIX)speexdsp-1.dll;
			lib$(var.PREFIX)theora-0.dll;
			lib$(var.PREFIX)theoradec-1.dll;
			lib$(var.PREFIX)theoraenc-1.dll;
			lib$(var.PREFIX)vorbis-0.dll;
			lib$(var.PREFIX)vorbisenc-2.dll;
			lib$(var.PREFIX)vorbisfile-3.dll;
			lib$(var.PREFIX)wavpack-1.dll;
			lib$(var.PREFIX)x264-67.dll;
			lib$(var.PREFIX)xml2-2.dll;
			lib$(var.PREFIX)pthreadGC2.dll;
			lib$(var.PREFIX)SDL.dll;
			lib$(var.PREFIX)z.dll
		" ?>
		
		<ComponentGroup Id="LicenseIndependentDependencies">
			<?foreach file in $(var.Files) ?>
				<ComponentRef Id="$(ossbuild.createValidID($(var.file)))" />
			<?endforeach ?>
		</ComponentGroup>
		
		<DirectoryRef Id="MergeRedirectFolder">
			
			<?foreach file in $(var.Files) ?>
				<Component Id="$(ossbuild.createValidID($(var.file)))" Guid="$(ossbuild.stringToGUID($(ossbuild.trim($(var.file)))))">
					<File Source="$(ossbuild.existsCoalesce($(var.OutputBinDir)\$(ossbuild.trim($(var.file))), $(var.SharedBinDir)\$(ossbuild.trim($(var.file)))))" DefaultLanguage="0" />
				</Component>
			<?endforeach ?>
			
		</DirectoryRef>

		<?undef Files ?>
		
	</Fragment>
</Wix>
