<?xml version="1.0" encoding="UTF-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<Module Id="Dependencies" Language="$(var.DEFAULT_LANGUAGE)" Version="$(var.OSSBUILD_VERSION)">
		
		<Package Id="$(var.GUID_X86_MSM_DEPENDENCIES_GPL_PACKAGE)" Manufacturer="$(var.MANUFACTURER)" InstallerVersion="$(var.MINIMAL_INSTALLER_VERSION)" />

		<!-- Pull in libraries/files that don't depend on a particular license (LGPL vs. GPL) -->
		<ComponentGroupRef Id="LicenseIndependentDependencies"/>
		
		<?define Files="
			avcodec$(var.GPL)-52.dll;
			avdevice$(var.GPL)-52.dll;
			avfilter$(var.GPL)-0.dll;
			avformat$(var.GPL)-52.dll;
			avutil$(var.GPL)-49.dll;
			swscale$(var.GPL)-0.dll;

			libnice-0.dll;
			xvidcore.dll;
			libwavpack-1.dll;
			liba52-0.dll;
			libmpeg2-0.dll;
			libmpeg2convert-0.dll;
			libdca-0.dll;
			libfaac-0.dll;
			libfaad-2.dll;
			libdvdread-4.dll;
			libdvdnav-4.dll;
			libdvdnavmini-4.dll;
			libdvdcss-2.dll
		" ?>
		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">
				
				<?foreach file in $(var.Files) ?>
					<Component Id="$(ossbuild.createValidID($(var.file)))" Guid="$(ossbuild.stringToGUID($(ossbuild.trim($(var.file)))))">
						<File Source="$(ossbuild.existsCoalesce($(var.OutputBinDir)\$(ossbuild.trim($(var.file))), $(var.SharedBinDir)\$(ossbuild.trim($(var.file)))))" DefaultLanguage="0" />
					</Component>
				<?endforeach ?>

			</Directory>
		</Directory>
		
		<?undef Files ?>

	</Module>
	
</Wix>
