<?xml version="1.0" encoding="UTF-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<Module Id="Dependencies" Language="$(var.DEFAULT_LANGUAGE)" Version="$(var.OSSBUILD_VERSION)">
		
		<Package Id="$(var.GUID_X86_MSM_DEPENDENCIES_GPL_PACKAGE)" Manufacturer="$(var.MANUFACTURER)" InstallerVersion="$(var.MINIMAL_INSTALLER_VERSION)" />

		<!-- Pull in libraries/files that don't depend on a particular license (LGPL vs. GPL) -->
		<ComponentGroupRef Id="LicenseIndependentDependencies"/>
		
		<?define Files="
			lib$(var.PREFIX)avcodec$(var.GPL)-52.dll;
			lib$(var.PREFIX)avdevice$(var.GPL)-52.dll;
			lib$(var.PREFIX)avfilter$(var.GPL)-1.dll;
			lib$(var.PREFIX)avformat$(var.GPL)-52.dll;
			lib$(var.PREFIX)avutil$(var.GPL)-50.dll;
			lib$(var.PREFIX)swscale$(var.GPL)-0.dll;

			lib$(var.PREFIX)nice-0.dll;
			lib$(var.PREFIX)xvidcore.dll;
			lib$(var.PREFIX)a52-0.dll;
			lib$(var.PREFIX)mpeg2-0.dll;
			lib$(var.PREFIX)mpeg2convert-0.dll;
			lib$(var.PREFIX)dca-0.dll;
			lib$(var.PREFIX)faac-0.dll;
			lib$(var.PREFIX)faad-2.dll;
			lib$(var.PREFIX)dvdread-4.dll;
			lib$(var.PREFIX)dvdnav-4.dll;
			lib$(var.PREFIX)dvdnavmini-4.dll;
			lib$(var.PREFIX)dvdcss-2.dll
		" ?>
		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">
				
				<?foreach file in $(var.Files) ?>
					<Component Id="$(ossbuild.createValidID($(var.file)))" Guid="$(ossbuild.stringToGUID($(ossbuild.trim($(var.file)))))">
						<File Source="$(ossbuild.existsCoalesce($(var.OutputBinDir)\$(ossbuild.trim($(var.file))), $(var.SharedBinDir)\$(ossbuild.trim($(var.file)))))" DefaultLanguage="0" />
					</Component>
				<?endforeach ?>

			</Directory>
		</Directory>
		
		<?undef Files ?>

	</Module>
	
</Wix>
