<?xml version="1.0" encoding="utf-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<Module Id="Dependencies" Language="$(var.DEFAULT_LANGUAGE)" Version="$(var.OSSBUILD_VERSION)">
		
		<Package Id="$(var.GUID_X86_MSM_DEPENDENCIES_LGPL_PACKAGE)" Manufacturer="$(var.MANUFACTURER)" InstallerVersion="$(var.MINIMAL_INSTALLER_VERSION)" />
		
		<!-- Pull in libraries/files that don't depend on a particular license (LGPL vs. GPL) -->
		<ComponentGroupRef Id="LicenseIndependentDependencies"/>
		
		<?define Files="
			lib$(var.PREFIX)avcodec-52.dll;
			lib$(var.PREFIX)avdevice-52.dll;
			lib$(var.PREFIX)avfilter-1.dll;
			lib$(var.PREFIX)avformat-52.dll;
			lib$(var.PREFIX)avutil-50.dll;
			lib$(var.PREFIX)swscale-0.dll
		" ?>
		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">
				
				<?foreach file in $(var.Files) ?>
					<Component Id="$(ossbuild.createValidID($(var.file)))" Guid="$(ossbuild.stringToGUID($(ossbuild.trim($(var.file)))))">
						<File Source="$(ossbuild.existsCoalesce($(var.OutputBinDir)\$(ossbuild.trim($(var.file))), $(var.SharedBinDir)\$(ossbuild.trim($(var.file)))))" DefaultLanguage="0" />
					</Component>
				<?endforeach ?>

			</Directory>
		</Directory>
		
		<?undef Files ?>
		
	</Module>
	
</Wix>
