<?xml version="1.0" encoding="utf-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:OSSBuild="$(ossbuild.namespaceURI())">
	<Fragment>
		
		<DirectoryRef Id="MergeRedirectInclude">
			<OSSBuild:FillDirectory ComponentGroup="LicenseIndependentIncludes" Directory="$(var.SharedIncludeDir)">
				<OSSBuild:Filter Exclude=".*\\include\\a52dec.*\\.*" />
				<OSSBuild:Filter Exclude=".*\\include\\nice.*\\.*" />
				<OSSBuild:Filter Exclude=".*\\include\\mpeg2dec.*\\.*" />
				<OSSBuild:Filter Exclude=".*\\include\\dvdcss.*\\.*" />
				<OSSBuild:Filter Exclude=".*\\include\\dvdnav.*\\.*" />
				<OSSBuild:Filter Exclude=".*\\include\\dvdread.*\\.*" />
				<OSSBuild:Filter Exclude=".*\\include\\[^\\]*dts\.h" />
				<OSSBuild:Filter Exclude=".*\\include\\[^\\]*dca\.h" />
				<OSSBuild:Filter Exclude=".*\\include\\[^\\]*x264\.h" />
				<OSSBuild:Filter Exclude=".*\\include\\[^\\]*xvid\.h" />
				<OSSBuild:Filter Exclude=".*\\include\\[^\\]*faad\.h" />
				<OSSBuild:Filter Exclude=".*\\include\\[^\\]*faac.*\.h" />
			</OSSBuild:FillDirectory>
		</DirectoryRef>
		
	</Fragment>
</Wix>
