<?xml version="1.0" encoding="utf-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:OSSBuild="$(ossbuild.namespaceURI())">
	<Fragment>

		<?define Directories="
			atk*;
			cairo;
			celt;
			curl;
			fontconfig;
			freetype*;
			gail*;
			GL;
			glib*;
			gnutls;
			gtk*;
			lame;
			libavcodec;
			libavdevice;
			libavfilter;
			libavformat;
			libavutil;
			libcroco*;
			libgsf*;
			libmms;
			liboil*;
			libpng*;
			librsvg*;
			libsoup*;
			libswscale;
			libxml2;
			neon;
			ogg;
			pango*;
			pixman*;
			schroedinger*;
			SDL;
			speex;
			stun;
			theora;
			vorbis;
		" ?>
		
		<DirectoryRef Id="MergeRedirectInclude">
			<OSSBuild:FillDirectory ComponentGroup="LicenseIndependentIncludes" Directory="$(var.SharedIncludeDir)" DirectoryFilter="$(var.Directories)" />
		</DirectoryRef>

		<?undef Directories ?>
		
	</Fragment>
</Wix>
