<?xml version="1.0" encoding="UTF-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:OSSBuild="$(ossbuild.namespaceURI())">

	<Module Id="Dependencies" Language="$(var.DEFAULT_LANGUAGE)" Version="$(var.OSSBUILD_VERSION)">

		<Package Id="$(var.GUID_X86_MSM_LIBRARIES_PACKAGE)" Manufacturer="$(var.MANUFACTURER)" InstallerVersion="$(var.MINIMAL_INSTALLER_VERSION)" />

		<?define Files="
			*gstapp-$(var.GST_VERSION).dll;
			*gstaudio-$(var.GST_VERSION).dll;
			*gstbase-$(var.GST_VERSION).dll;
			*gstcdda-$(var.GST_VERSION).dll;
			*gstcontroller-$(var.GST_VERSION).dll;
			*gstdataprotocol-$(var.GST_VERSION).dll;
			*gstfarsight-$(var.GST_VERSION).dll;
			*gstfft-$(var.GST_VERSION).dll;
			*gstgl-$(var.GST_VERSION).dll;
			*gstinterfaces-$(var.GST_VERSION).dll;
			*gstnet-$(var.GST_VERSION).dll;
			*gstnetbuffer-$(var.GST_VERSION).dll;
			*gstpbutils-$(var.GST_VERSION).dll;
			*gstphotography-$(var.GST_VERSION).dll;
			*gstreamer-$(var.GST_VERSION).dll;
			*gstriff-$(var.GST_VERSION).dll;
			*gstrtp-$(var.GST_VERSION).dll;
			*gstrtsp-$(var.GST_VERSION).dll;
			*gstsdp-$(var.GST_VERSION).dll;
			*gsttag-$(var.GST_VERSION).dll;
			*gstvideo-$(var.GST_VERSION).dll
		" ?>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">
				<OSSBuild:FillDirectory Directory="$(var.GstBinDir)" FileFilter="$(var.Files)" />
			</Directory>
		</Directory>

		<?undef Files ?>

	</Module>

</Wix>
