<?xml version="1.0" encoding="UTF-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:OSSBuild="$(ossbuild.namespaceURI())">

	<Module Id="Dependencies" Language="$(var.DEFAULT_LANGUAGE)" Version="$(var.OSSBUILD_VERSION)">

		<Package Id="$(var.GUID_X86_MSM_LIBRARIES_PACKAGE)" Manufacturer="$(var.MANUFACTURER)" InstallerVersion="$(var.MINIMAL_INSTALLER_VERSION)" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">
				<OSSBuild:FillDirectory Directory="$(var.GstBinDir)">
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstapp-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstaudio-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstbase-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstbasevideo-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstcdda-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstcontroller-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstdataprotocol-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstfarsight-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstfft-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstgl-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstinterfaces-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstnet-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstnetbuffer-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstpbutils-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstphotography-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstreamer-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstriff-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstrtp-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstrtsp-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstsdp-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstsignalprocessor-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gsttag-$(var.GST_VERSION)\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstvideo-$(var.GST_VERSION)\.dll" />
				</OSSBuild:FillDirectory>
			</Directory>
		</Directory>

	</Module>

</Wix>
