<?xml version="1.0" encoding="UTF-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:OSSBuild="$(ossbuild.namespaceURI())">

	<Module Id="Dependencies" Language="$(var.DEFAULT_LANGUAGE)" Version="$(var.OSSBUILD_VERSION)">

		<Package Id="$(var.GUID_X86_MSM_PLUGINS_BASE_PACKAGE)" Manufacturer="$(var.MANUFACTURER)" InstallerVersion="$(var.MINIMAL_INSTALLER_VERSION)" />

		<?define Files="
			*gstadder.dll;
			*gstappplugin.dll;
			*gstaudioconvert.dll;
			*gstaudiorate.dll;
			*gstaudioresample.dll;
			*gstaudiotestsrc.dll;
			*gstcoreelements.dll;
			*gstdecodebin.dll;
			*gstdecodebin2.dll;
			*gstffmpegcolorspace.dll;
			*gstgdp.dll;
			*gstgio.dll;
			*gstogg.dll;
			*gstpango.dll;
			*gstplaybin.dll;
			*gstqueue2.dll;
			*gsttheora.dll;
			*gsttypefindfunctions.dll;
			*gstvideorate.dll;
			*gstvideoscale.dll;
			*gstvideotestsrc.dll;
			*gstvolume.dll;
			*gstvorbis.dll
		" ?>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">
				<OSSBuild:FillDirectory Directory="$(var.GstPluginDir)" FileFilter="$(var.Files)" />
			</Directory>
		</Directory>

		<?undef Files ?>

	</Module>

</Wix>
