<?xml version="1.0" encoding="UTF-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:OSSBuild="$(ossbuild.namespaceURI())">

	<Module Id="Dependencies" Language="$(var.DEFAULT_LANGUAGE)" Version="$(var.OSSBUILD_VERSION)">

		<Package Id="$(var.GUID_X86_MSM_PLUGINS_GOOD_PACKAGE)" Manufacturer="$(var.MANUFACTURER)" InstallerVersion="$(var.MINIMAL_INSTALLER_VERSION)" />

		<?define Files="
			*gstrtp_good.dll;
			*gstrtsp_good.dll;
			
			*gstalaw.dll;
			*gstalpha.dll;
			*gstapetag.dll;
			*gstaudiofx.dll;
			*gstauparse.dll;
			*gstautodetect.dll;
			*gstavi.dll;
			*gstcairo.dll;
			*gstcutter.dll;
			*gstdebug.dll;
			*gstdeinterlace.dll;
			*gstdirectsound.dll;
			*gsteffectv.dll;
			*gstequalizer.dll;
			*gstflv.dll;
			*gstflx.dll;
			*gsticydemux.dll;
			*gstid3demux.dll;
			*gstinterleave.dll;
			*gstjpeg.dll;
			*gstlevel.dll;
			*gstmatroska.dll;
			*gstmonoscope.dll;
			*gstmulaw.dll;
			*gstmultifile.dll;
			*gstmultipart.dll;
			*gstpng.dll;
			*gstqtdemux.dll;
			*gstreplaygain.dll;
			*gstrtpmanager.dll;
			*gstsmpte.dll;
			*gstsoup.dll;
			*gstspectrum.dll;
			*gstudp.dll;
			*gstvideobox.dll;
			*gstvideocrop.dll;
			*gstvideofilterbalance.dll;
			*gstvideofilterflip.dll;
			*gstvideofiltergamma.dll;
			*gstvideomixer.dll;
			*gstwaveenc.dll;
			*gstwaveform.dll;
			*gstwavpack.dll;
			*gstwavparse.dll;
			*gsty4m.dll
		" ?>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">
				<OSSBuild:FillDirectory Directory="$(var.GstPluginDir)" FileFilter="$(var.Files)" />
			</Directory>
		</Directory>

		<?undef Files ?>

	</Module>

</Wix>
