<?xml version="1.0" encoding="utf-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:OSSBuild="$(ossbuild.namespaceURI())">
	<Fragment>

		<?define Files="
			*gstasfdemux.dll;
			*gstdvdlpcmdec.dll;
			*gstdvdsub.dll;
			*gstiec958.dll;
			*gstmpegaudioparse.dll;
			*gstmpegstream.dll;
			*gstrealmedia.dll;
			*gstsynaesthesia.dll
		" ?>

		<DirectoryRef Id="MergeRedirectFolder">
			<OSSBuild:FillDirectory ComponentGroup="PluginsUgly" Directory="$(var.GstPluginDir)" FileFilter="$(var.Files)" />
		</DirectoryRef>

		<?undef Files ?>
		
	</Fragment>
</Wix>
