<?xml version="1.0" encoding="UTF-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Module Id="Dependencies" Language="$(var.DEFAULT_LANGUAGE)" Version="$(var.OSSBUILD_VERSION)">

		<Package Id="$(var.GUID_X86_MSM_PLUGINS_BASE_PACKAGE)" Manufacturer="$(var.MANUFACTURER)" InstallerVersion="$(var.MINIMAL_INSTALLER_VERSION)" />

		<?define Files="
			libgstadder.dll;
			libgstappplugin.dll;
			libgstaudioconvert.dll;
			libgstaudiorate.dll;
			libgstaudioresample.dll;
			libgstaudiotestsrc.dll;
			libgstcoreelements.dll;
			libgstdecodebin.dll;
			libgstdecodebin2.dll;
			libgstffmpegcolorspace.dll;
			libgstgdp.dll;
			libgstgio.dll;
			libgstogg.dll;
			libgstpango.dll;
			libgstplaybin.dll;
			libgstqueue2.dll;
			libgsttheora.dll;
			libgsttypefindfunctions.dll;
			libgstvideorate.dll;
			libgstvideoscale.dll;
			libgstvideotestsrc.dll;
			libgstvolume.dll;
			libgstvorbis.dll
		" ?>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">
						
				<?foreach file in $(var.Files) ?>
					<Component Id="$(ossbuild.createValidID($(var.file)))" Guid="$(ossbuild.stringToGUID($(ossbuild.trim($(var.file)))))">
						<File Source="$(var.GstPluginDir)\$(ossbuild.trim($(var.file)))" />
					</Component>
				<?endforeach ?>
						
			</Directory>
		</Directory>

		<?undef Files ?>

	</Module>

</Wix>
