<?xml version="1.0" encoding="UTF-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:OSSBuild="$(ossbuild.namespaceURI())">

	<Module Id="Dependencies" Language="$(var.DEFAULT_LANGUAGE)" Version="$(var.OSSBUILD_VERSION)">

		<Package Id="$(var.GUID_X86_MSM_UGLY_GPL_PACKAGE)" Manufacturer="$(var.MANUFACTURER)" InstallerVersion="$(var.MINIMAL_INSTALLER_VERSION)" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">
				<OSSBuild:FillDirectory Directory="$(var.GstPluginDir)">
					<OSSBuild:Filter Include=".*\\[^\\]*.*gsta52dec\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstdvdread\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstlame\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstmpeg2dec\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*gstx264\.dll" />
				</OSSBuild:FillDirectory>
			</Directory>
		</Directory>

		<!-- Pull in libraries/files that don't depend on a particular license (LGPL vs. GPL) -->
		<ComponentGroupRef Id="PluginsUgly"/>

	</Module>

</Wix>
