<?xml version="1.0" encoding="utf-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

		<?define Files="
			lib$(var.PREFIX)gstaacparse.dll;
			lib$(var.PREFIX)gstaiff.dll;
			lib$(var.PREFIX)gstamrparse.dll;
			lib$(var.PREFIX)gstautoconvert.dll;
			lib$(var.PREFIX)gstbayer.dll;
			lib$(var.PREFIX)gstcamerabin.dll;
			lib$(var.PREFIX)gstcdxaparse.dll;
			lib$(var.PREFIX)gstdirectdraw.dll;
			lib$(var.PREFIX)gstdshowdecwrapper.dll;
			lib$(var.PREFIX)gstdshowsrcwrapper.dll;
			lib$(var.PREFIX)gstdshowvideosink.dll;
			lib$(var.PREFIX)gstdtmf.dll;
			lib$(var.PREFIX)gstdvdspu.dll;
			lib$(var.PREFIX)gstfreeze.dll;
			lib$(var.PREFIX)gsth264parse.dll;
			lib$(var.PREFIX)gstlegacyresample.dll;
			lib$(var.PREFIX)gstlibmms.dll;
			lib$(var.PREFIX)gstliveadder.dll;
			lib$(var.PREFIX)gstmpeg4videoparse.dll;
			lib$(var.PREFIX)gstmpegdemux.dll;
			lib$(var.PREFIX)gstmpegtsmux.dll;
			lib$(var.PREFIX)gstmpegvideoparse.dll;
			lib$(var.PREFIX)gstmve.dll;
			lib$(var.PREFIX)gstmxf.dll;
			lib$(var.PREFIX)gstneon.dll;
			lib$(var.PREFIX)gstnuvdemux.dll;
			lib$(var.PREFIX)gstpcapparse.dll;
			lib$(var.PREFIX)gstqtmux.dll;
			lib$(var.PREFIX)gstrawparse.dll;
			lib$(var.PREFIX)gstreal.dll;
			lib$(var.PREFIX)gstrtpmux.dll;
			lib$(var.PREFIX)gstscaletempo.dll;
			lib$(var.PREFIX)gstsdl.dll;
			lib$(var.PREFIX)gstsdpplugin.dll;
			lib$(var.PREFIX)gstselector.dll;
			lib$(var.PREFIX)gstsiren.dll;
			lib$(var.PREFIX)gstspeed.dll;
			lib$(var.PREFIX)gststereo.dll;
			lib$(var.PREFIX)gstsubenc.dll;
			lib$(var.PREFIX)gsttta.dll;
			lib$(var.PREFIX)gstvalve.dll;
			lib$(var.PREFIX)gstvideosignal.dll;
			lib$(var.PREFIX)gstvmnc.dll;
			lib$(var.PREFIX)gstwasapi.dll;
			lib$(var.PREFIX)gstwininet.dll;
			lib$(var.PREFIX)gstwinks.dll;
			lib$(var.PREFIX)gstwinscreencap.dll
		" ?>
		
		<ComponentGroup Id="PluginsBad">
			<?foreach file in $(var.Files) ?>
				<ComponentRef Id="$(ossbuild.createValidID($(var.file)))" />
			<?endforeach ?>
		</ComponentGroup>
		
		<DirectoryRef Id="MergeRedirectFolder">
			
			<?foreach file in $(var.Files) ?>
				<Component Id="$(ossbuild.createValidID($(var.file)))" Guid="$(ossbuild.stringToGUID($(ossbuild.trim($(var.file)))))">
					<File Source="$(var.GstPluginDir)\$(ossbuild.trim($(var.file)))" />
				</Component>
			<?endforeach ?>
			
		</DirectoryRef>

		<?undef Files ?>
		
	</Fragment>
</Wix>
