<?xml version="1.0" encoding="utf-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:OSSBuild="$(ossbuild.namespaceURI())">
	<Fragment>

		<?define Files="
			*gstaacparse.dll;
			*gstaiff.dll;
			*gstamrparse.dll;
			*gstautoconvert.dll;
			*gstbayer.dll;
			*gstcamerabin.dll;
			*gstcdxaparse.dll;
			*gstdirectdraw.dll;
			*gstdshowdecwrapper.dll;
			*gstdshowsrcwrapper.dll;
			*gstdshowvideosink.dll;
			*gstdtmf.dll;
			*gstdvdspu.dll;
			*gstfreeze.dll;
			*gsth264parse.dll;
			*gstlegacyresample.dll;
			*gstlibmms.dll;
			*gstliveadder.dll;
			*gstmpeg4videoparse.dll;
			*gstmpegdemux.dll;
			*gstmpegtsmux.dll;
			*gstmpegvideoparse.dll;
			*gstmve.dll;
			*gstmxf.dll;
			*gstneon.dll;
			*gstnuvdemux.dll;
			*gstpcapparse.dll;
			*gstqtmux.dll;
			*gstrawparse.dll;
			*gstreal.dll;
			*gstrtpmux.dll;
			*gstscaletempo.dll;
			*gstsdl.dll;
			*gstsdpplugin.dll;
			*gstselector.dll;
			*gstsiren.dll;
			*gstspeed.dll;
			*gststereo.dll;
			*gstsubenc.dll;
			*gsttta.dll;
			*gstvalve.dll;
			*gstvideosignal.dll;
			*gstvmnc.dll;
			*gstwasapi.dll;
			*gstwininet.dll;
			*gstwinks.dll;
			*gstwinscreencap.dll
		" ?>

		<DirectoryRef Id="MergeRedirectFolder">
			<OSSBuild:FillDirectory ComponentGroup="PluginsBad" Directory="$(var.GstPluginDir)" FileFilter="$(var.Files)" />
		</DirectoryRef>

		<?undef Files ?>
		
	</Fragment>
</Wix>
