<?xml version="1.0" encoding="utf-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:OSSBuild="$(ossbuild.namespaceURI())">
	<Fragment>

		<DirectoryRef Id="MergeRedirectFolder">
			<OSSBuild:FillDirectory ComponentGroup="PluginsUgly" Directory="$(var.GstPluginDir)">
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstasfdemux\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstdvdlpcmdec\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstdvdsub\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstiec958\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstmpegaudioparse\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstmpegstream\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstrealmedia\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstsynaesthesia\.dll" />
			</OSSBuild:FillDirectory>
		</DirectoryRef>
		
	</Fragment>
</Wix>
