<?xml version="1.0" encoding="utf-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:OSSBuild="$(ossbuild.namespaceURI())">
	<Fragment>
		
		<DirectoryRef Id="MergeRedirectFolder">
			<OSSBuild:FillDirectory ComponentGroup="LicenseIndependentDependencies" Directory="$(var.SharedBinDir)">
				<OSSBuild:Filter Exclude=".*\\[^\\]*.*avcodec.*\.dll" />
				<OSSBuild:Filter Exclude=".*\\[^\\]*.*avdevice.*\.dll" />
				<OSSBuild:Filter Exclude=".*\\[^\\]*.*avfilter.*\.dll" />
				<OSSBuild:Filter Exclude=".*\\[^\\]*.*avformat.*\.dll" />
				<OSSBuild:Filter Exclude=".*\\[^\\]*.*avutil.*\.dll" />
				<OSSBuild:Filter Exclude=".*\\[^\\]*.*swscale.*\.dll" />

				<OSSBuild:Filter Exclude=".*\\[^\\]*.*x264.*\.dll" />
				<OSSBuild:Filter Exclude=".*\\[^\\]*.*xvidcore.*\.dll" />
				<OSSBuild:Filter Exclude=".*\\[^\\]*.*a52.*\.dll" />
				<OSSBuild:Filter Exclude=".*\\[^\\]*.*mpeg2.*\.dll" />
				<OSSBuild:Filter Exclude=".*\\[^\\]*.*dca.*\.dll" />
				<OSSBuild:Filter Exclude=".*\\[^\\]*.*faac.*\.dll" />
				<OSSBuild:Filter Exclude=".*\\[^\\]*.*faad.*\.dll" />
				<OSSBuild:Filter Exclude=".*\\[^\\]*.*dvdread.*\.dll" />
				<OSSBuild:Filter Exclude=".*\\[^\\]*.*dvdnav.*\.dll" />
				<OSSBuild:Filter Exclude=".*\\[^\\]*.*dvdcss.*\.dll" />

				<OSSBuild:Filter Exclude=".*\\[^\\]*.*curl.*\.dll" />
				<OSSBuild:Filter Exclude=".*\\[^\\]*.*tiffxx.*\.dll" />

				<OSSBuild:Filter Include=".*\.dll" />
			</OSSBuild:FillDirectory>
		</DirectoryRef>
		
	</Fragment>
</Wix>
