<?xml version="1.0" encoding="UTF-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:OSSBuild="$(ossbuild.namespaceURI())">
	
	<Module Id="Dependencies" Language="$(var.DEFAULT_LANGUAGE)" Version="$(var.OSSBUILD_VERSION)">
		
		<Package Id="$(var.GUID_X86_MSM_DEPENDENCIES_GPL_PACKAGE)" Manufacturer="$(var.MANUFACTURER)" InstallerVersion="$(var.MINIMAL_INSTALLER_VERSION)" />
		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">
				<OSSBuild:FillDirectory Directory="$(var.SharedBinDir)">
					<OSSBuild:Filter Include=".*\\[^\\]*.*avcodec$(var.GPL).*\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*avdevice$(var.GPL).*\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*avfilter$(var.GPL).*\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*avformat$(var.GPL).*\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*avutil$(var.GPL).*\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*swscale$(var.GPL).*\.dll" />

					<OSSBuild:Filter Include=".*\\[^\\]*.*x264.*\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*xvidcore.*\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*a52.*\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*mpeg2.*\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*dca.*\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*faac.*\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*faad.*\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*dvdread.*\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*dvdnav.*\.dll" />
					<OSSBuild:Filter Include=".*\\[^\\]*.*dvdcss.*\.dll" />
				</OSSBuild:FillDirectory>
			</Directory>
		</Directory>
		
		<!-- Pull in libraries/files that don't depend on a particular license (LGPL vs. GPL) -->
		<ComponentGroupRef Id="LicenseIndependentDependencies"/>

	</Module>
	
</Wix>
